{% extends "cif/base.html" %}
{% load staticfiles %}
{% block title%}显示客户信息{% endblock %}
{% block content %}

<div class="row text-center vertical-middle-sm">
	<h3>显示客户信息</h3>
	<h1></h1>
	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal" action="." method="post">
				{% csrf_token %}

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户号：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.customer_id}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>证件号：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.id_no}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>证件类型：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.id_type}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>证件国别：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.id_country}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户(名)：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.first_name}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户(姓)：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.last_name}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户地址：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.address }}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户年龄：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.age}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>余额：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.balance}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>生日：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.birthday}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户电子邮件：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.email}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户手机：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.handphone}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>客户状态：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.status}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>交易功能：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.func}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>创建日期：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.inp_date}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-md-4 text-right">
						<span>修改日期：</span>
					</div>
					<div class="col-md-8 text-left">{{ cif_mas_Form.app_date}}</div>
				</div>

				<div class="row" style="margin-top: 10px;">
					<a name="edit" href="/cif/cifmas_amd/{{ cif_mas_Form.customer_id}}/" ><span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp编辑</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a name="delete" href="javascript:" onclick="del_cifmas(this,'{{cif_mas_Form.customer_id}}')"><span class="glyphicon glyphicon-trash"></span>&nbsp&nbsp删除</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a name="back" href="/cif/cifmas_lst/" ><span class="glyphicon glyphicon-backward"></span>&nbsp&nbsp返回</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a name="back" href="/cif/cifmas_amd2lvl/" ><span class="fa fa-refresh"></span>&nbsp&nbsp修改（二级交易）</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript"src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/layer.js" %}'></script>
<script>
	function del_cifmas(the, customer_id) {
		var first_name="{{ cif_mas_Form.last_name}}";
		var last_name="{{ cif_mas_Form.first_name}}";
		name=last_name+first_name;
		var func="cifmas_list";
		var index = layer.open
		({
			type : 1,
			skin : "layui-layer-rim",
			title : "删除客户",
			area : [ '400px', '200px' ],
			content : '<div class="text-center" style="margin-top:20px"><p>是否确定删除客户："'+name+'"</p></div>',
			btn : [ '确定', '取消' ],
			yes : function(index, layero) {
				$.ajax
				({
					url : '{% url "cif:cifmas_del" %}',
					type : 'POST',
					data : {
						"customer_id"  :customer_id,
						"func"     :func,
					},
					success : function(e) {
						if (e == "000000") {
							layer.msg("已删除");
							window.location.href='{% url "cif:cifmas_lst" %}';
						} else {
							layer.msg("删除失败");
						}
					},
				});
			},
		});
	}
</script>

{% endblock %}


