{% extends "base.html" %}

{% block title %}blog titles{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>my blog</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
	<ul>
	{% for blog in blogs %}
		<li><a href="{{blog.id}}">{{blog.title}}:{{blog.body}}</a></li>
	{% endfor %}
	</ul>
	</div>
	<div class="col-xs6 col-md-4">
	<h2>adv</h2>
	<p>www.itdiffer.com</p>
	<img width="200px" src="http://n.sinaimg.cn/news/transform/175/w105h70/20180708/nw6b-hezpzwt3205068.jpg">
	</div>
</div>
{% endblock %}